@import'../../../assets/scss_styles/global-imports';

.flashingIcons {
   position: relative;
   width: 100%;
   margin-bottom: 40px;
   margin-right: 40px;

   .animationIcon {
      color: $color_orange;
      font-size: 65px;
      text-align: center;
      line-height: 75px;
      @include size(75px, 75px);
      animation: zoom-in-zoom-out 5s ease infinite;
      position: absolute;
      border-radius: 50%;
   }

   @keyframes zoom-in-zoom-out {
      0% {
         transform: scale(0);
      }

      50% {
         transform: scale(.7);
      }

      100% {
         transform: scale(0);
      }
   }

}