$flex: flex;
$jc_center: center;
$ai_center: center;
$start: flex-start;
$end: flex-end;
$h: 100%;
$w: 100%;
$color_gray: rgb(189, 189, 189);
$color_leaden: rgb(85, 84, 84);
$color_dark_gray: hsl(30, 7%, 18%);
$color_orange: #ffb347;